node_modules/
.ntvs_analysis.dat*
npm-debug*
*.tar*
*.tgz*

.vscode/*.json
!.vscode/*.shared.json

.coverage/
.testresults/
.nyc_output/

# Generated Javascript
/src/**/*.js*
/test/**/*.js
/test/**/*.js.map
/bin/**/*.js*
**/*.d.ts
