.vscode/
build/
coverage/
test/
testresults/
.eslintignore
.eslintrc.js
gulpfile.js
.npmignore
tsconfig.json
tslint.json
backup.tslint.json
**/*.ts
sonar-project.properties
*.tgz
*.tar*
scripts/
**/*.map
husky.config.js