.coverage/
.nyc_output/
.testresults/
.circleci/
.vscode/
test/
**/*.ts
**/*.map
.eslintignore
.eslintrc.js
husky.config.js
sonar-project.properties
tsconfig.json
tslint.json
.ntvs_analysis.dat*
npm-debug*
*.tgz
*.tar*